*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
}

.navegacao{
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-evenly;

}
.navegacao li{
    color: gray;
}
.navegacao li:hover{
    color: #000;
    cursor: pointer;
    font-weight: bold;
} 

.imagem-inicio{
    background-image: url("https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:13ead2e1-3ac9-44a1-b4cb-14736da07bb0;revision=0?component_id=90838487-a7fa-4a2c-8cf4-a4748238ac5c&api_key=CometServer1&access_token=1638488248_urn%3Aaaid%3Asc%3AUS%3A13ead2e1-3ac9-44a1-b4cb-14736da07bb0%3Bpublic_735f5012fc494dcba6a9328b194eb9cc66280c55");
    background-size: cover;
    height: 80vh;
 
}
.texto-inicio{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 48vh;
    color: #fff;
    padding-left: 11rem;
}

.texto-inicio h1{
    font-size: 4vw;
    font-style:Montserrat;
   
}

.paragrafo{
    font-size: 2vw;
    color:#f5f5f5;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 10vh;
    padding-left: 11rem;    
}

@media (max-width: 400px) {
    .navegacao{
        display: none;
    }