@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;

    
}

.box-inicio{
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
    
    
}

.menu-navegacao{
    display: flex;
    list-style: none;
    width: 350px;
    justify-content: space-between;

    
   
        
    

}
.menu-navegacao li{
    color: gray;
    
    
}
.menu-navegacao li:hover{
    color: #000;
    cursor: pointer;
    font-weight: bold;
    
}

@media (max-width: 470px) {
    .menu-navegation{
        display: none;
    }
   
}

.box-imagem-header{
    background-image: url(img/laranja\ azul\ recorte.png);
    background-size: cover;
    height: 55vh;
    
 
}
.texto-imagem-header{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 37vh;
    color: #fff;
    padding-left: 8rem;
    
}

.texto-imagem-header h1{
    font-size: 4vw;
   
}

.texto-imagem-header p{
    font-size: 2vw;
    padding-top: 2%;
}


/* MAIN */

.img-main{
      width: 23%;
      margin: 1%;
}

main{
    display: flex;
    justify-content: center;
    height: 100% ;
    width: 100%;
    

}

.box-img-main{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 45px;
    
}


/* FOOTER */

.rodape{
    display: flex;
    height: 11vh;
    align-items: center;
    background-color: #dcdcdc;
}

.box-imagem-rodape{
    width: 340px;
    margin-left: 5rem;
}

.texto-rodape{
    display: flex;
}

.imagem-rodape{
    margin: 5px;
}

.paragrafo{
    width: 51%;
    font-size: 12px;
    margin-left: 2rem;
}
